<style type="text/css">
div{
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-3{
    padding-bottom:20px;
}
.form-style-2{
    display:block;
    max-width: 400px;
	padding: 20px;
}
.form-style-2-heading,
.form-style-2-name{
    max-width: 300px;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	margin-top: 20px;
}
.form-style-2-heading{
    max-width: 400px;
    font-style: italic;
    border-bottom: 2px solid #162d40;
}
.form-style-2 label{
	display: inline;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}

.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;
}
.form-style-2 input.input-field,
.form-style-2 .textarea-field,
 .form-style-2 .select-field{
    max-width: 300px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus{
	border: 1px solid #254d6e;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #254d6e;
	color: #fff;
	box-shadow: 1px 1px 4px #ccc;
	-moz-box-shadow: 1px 1px 4px #ccc;
	-webkit-box-shadow: 1px 1px 4px #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #162d40;
	color: #fff;
}
</style>